{{!< default}}
<section id="intro" {{#if @blog.cover}} class="covered" style="background-image: url({{@blog.cover}})"{{/if}}>
	<div class="container">
		 <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h1>{{code}} Error</h1>
				<p>
					Ooops, the page you are looking for can't be found!
				</p>
			</div>
		</div>
	</div>
</section>