
<div class="overlay overlay-slidedown">
  <button type="button" class="overlay-close">Close</button>
  <nav>
    <ul>
      <li class="home"><a href="/">Home</a></li>
      <li class="blog"><a href="/blog/">Blog</a></li>
      <li class="about"><a href="/#about">About</a></li>
      <li class="contact"><a href="mailto:your@email.com">Contact</a></li>

    </ul>
  </nav>
</div>
