<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type='text/javascript' src='/assets/js/moment.min.js'></script>

<script>
// calls appery db and fetches 'home' location
(function() {

	var startDate = moment("June 15, 2014");
	var today = moment();

	$.ajax({
		url: 'https://api.appery.io/rest/1/db/collections/home?limit=1&sort=-_createdAt',
		type: 'GET',
		headers: {"X-Appery-Database-Id": "537492bfe4b0d2288dcd4e87"},
		success: function(data, textStatus) {
			$('#home-location').html(data[0].name);
			$('#home-days-on-road').html(today.diff(startDate, 'days'));
		},
		error: function(textStatus, errorThrown) {
			$('#home-location').html('Ugh! Location Error!');
			console.log(textStatus);
		}
	});
})()
</script>

<div id="site-intro" {{#if @blog.cover}} class="left-style covered" style="background-image: url({{@blog.cover}})"{{else}}class="left-style"{{/if}}>
	<div class="intro-wrap">
		<div class="intro-text">
			<div class="welcome-text style1">
				<div class="line1">{{@blog.title}}</div>
				<div class="line3"><span id="home-days-on-road" class="line3">?</span> days on the road. Currently in <span id="home-location" class="line3">loading location..</span>.</div>
			</div>
			<div class="action-list">
				<a class="action-btn" href="{{@blog.url}}/map">
					Map of where we've been <i class="fa fa-road"></i>
				</a>
			</div>
		</div>
	</div>
</div>
