<div class="pagination p-archive">
	<div class="newer-posts">
		<span class="next-post">
    {{#if prev}}

        <!-- Custom icon Pascal -->
        <a href="{{page_url prev}}">articles suivants <i class="fa fa-arrow-circle-o-right fa-lg"></i></a>
    {{/if}}
    </span></div>
    <div class="older-posts">
    	<span class="prev-post">
    
    {{#if next}}
        <!-- Custom icon Pascal -->
        <a href="{{page_url next}}"><i class="fa fa-arrow-circle-o-left fa-lg"></i> articles précédents</a>
    {{/if}}
    </span></div>
</div>
