{{! Create this file inside /partials/ directory! }}

<section id="posts">
  <div class="container">
    <div class="clearfix">
      <div class="col-md-8 col-md-offset-2">
       <aside id="posts_list">{{! Container for all posts. Filled with content by js/posts_list.js}}</aside>
        </div>
      </div>
    </div>
  </section>