{{!-- Navigation --}}
<nav class="navbar navbar-fixed-top header-white navbar-inverse navbar-transparent" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-main">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{@blog.url}}">Home</a></li>
                <li><a href="{{@blog.url}}/about">About</a></li>
            </ul>
        </div>
    </div>
</nav>