
<footer>
  <div class="container wow slideInUp">

    <div class="col-md-4 col-sm-4 col-xs-12 f-copy">
      Copyright &copy; <span>{{@blog.title}}</span> 2015.
      <h6>Made with love by <a target="_blank" title="Go to AuthorSun profile page" href="https://creativemarket.com/AuthorSun">AuthorSun</a>.</h6>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
      <a class="easing scroll-up text-uppercase small" id="1@#%^-bottom" data-scroll data-options='{ "easing": "easeOutCubic" }' href="#">
        BACK TO TOP
        <span class="arrow_carrot-up" aria-hidden="true"></span>
      </a>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12 social-cons text-right">

      <a href="#" title="fb">
        <span class="social_facebook_circle" aria-hidden="true"></span>
      </a>
      <a href="#" title="tw">
        <span class="social_twitter_circle" aria-hidden="true"></span>
      </a>
      <a href="/blog" title="wp">
        <span class="social_wordpress_circle" aria-hidden="true"></span>
      </a>
      <a href="#" title="googleplus">
        <span class="social_googleplus_circle" aria-hidden="true"></span>
      </a>
    </div>

  </div>
</footer>
