$primary-color: #3dc9b3; //green
$secondary-color: #252525; //dark grey
$tertiary-color: #242830; //dark blue

$link-hover: #252525; //dark grey

$body-font: 'Lato', sans-serif; //google font
$body-font-color: #505050; //dark gray
$body-font-size: 1em; //16px