<!-- Navigation here -->
<div id="overlay">
  <nav id="menu" role="navigation">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/map">Map of where we've been</a></li>
      <li><a href="/the-trip">About our trip</a></li>
      <li><a href="/the-family">About our family</a></li>
      <li><a href="/where-to-go">Send us a destination tip!</a></li>
    </ul>
  </nav>
</div>
