{{!< default}}
{{#if @blog.logo}}
	<div class="logo">
		<img src="{{@blog.logo}}" alt="">
	</div>
{{/if}}
{{#if @blog.cover}}<div class="wrapper"><div class="cover"><img src="{{@blog.cover}}" alt=""></div></div>{{/if}}
<div class="content" id="home">
	<div class="wrapper">
		<div class="posts">
			{{> loop }}
		</div>{{> sidebar}}
	</div>
</div>
