<footer class="footer scene-element fade-in-up">
    <div class="footer-social-icons">
        {{! add your urls ; more icons : http://fontawesome.io/icons/ }}
        {{! feed }}
        <a href="/rss/" class="no-smoothstate">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-rss fa-stack-1x"></i>
            </span>
        </a>
        {{! twitter }}
        <!--
        <a href="#">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
        </a>
        -->
        {{! google plus }}
        <!--
        <a href="#">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-google-plus fa-stack-1x"></i>
            </span>
        </a>
        -->
        {{! xing }}
        <a href="https://www.xing.com/profile/Benjamin_Schuch2">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-xing fa-stack-1x"></i>
            </span>
        </a>
        {{! behance }}
        <!--
        <a href="#">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-behance fa-stack-1x"></i>
            </span>
        </a>
        -->
        {{! github }}
        <a href="https://github.com/chillyistkult">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-github fa-stack-1x"></i>
            </span>
        </a>
        {{! facebook }}
        <a href="https://www.facebook.com/chillyistkult">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-facebook fa-stack-1x"></i>
            </span>
        </a>
    </div>
    {{! more icons : http://fontawesome.io/icons/ }}
    <section class="footer-poweredby">
        Copyright &copy; <time>{{date format="YYYY"}}</time> Benjamin Schuch. <a class="subscribe-button no-smoothstate" href="/rss/"><i class="fa fa-rss"></i></a>
    </section>
</footer>