<!-- Add Social Icons -->
	<div class="socials">

		<!-- Custom Pascal, removed Twitter, Facebook, Linked, Google+ -->
		<!-- Custom Pascal, RSS icon from Font Awesome -->
		{{! Feed RSS }}
		<a href="{{@blog.url}}/rss"><i class="fa fa-rss-square fa-2x"></i></a>
	</div> 
	<br>
	
<!-- Add legal footer -->	   

	<p class="copyright"> <span id="footer-text">Site propulsé par la plateforme<a href="{{@blog.url}}/andy-publio/"> Andy Publio</a>
		<!-- CUSTOM END -->
			<br>
		<!-- CUSTOM -->
			<a href="{{@blog.url}}/andy-media/">Andy Media</a> &copy; 2012-2014 &bull; Tous droits réservés</span></p>
		<!-- CUSTOM END -->
