<div class="slab animated fadeIn">
	<div class="wrapper">
		<h1><span class="slabtext">LE BLOG DE PASCAL ANDY</span> <span class="slabtext">L’HOMME ET LES RELATIONS TECHNOLOGIQUES</span></h1>
	</div>
</div>