{{!< default}}

{{> header-post}}

<div id="main" class="content" role="main">
    <div class="container">

        <article class="{{post_class}} page">
            <div class="row">
                {{#post}}
                    <h1 class="post-title text-center hyper lighter">{{{title}}}</h1>
                    <div class="col-md-8 col-md-offset-2 post-body">
                        <section class="post-content">
                            {{content}}
                        </section>
                    </div>
                {{/post}}
            </div>
        </article>

    </div>
</div>