<div class="{{post_class}} video-thumb">

    <div class="video-trigger">
        <div class="video-thumb-img"></div>
        <div class="video-overlay"></div>
        <div class="video-title">
            {{{title}}}
        </div>
    </div>


    <div class="video-thumb-hidden">{{content}}</div>

</div>

