<section class="disqus">
    <div class="row">
        <div class="small-12 columns">
            <h1 class="comments-header">Kommentare</h1>
            <div id="disqus_thread"></div>
            <noscript>Bitte aktiviere Javascript um den Kommentarbereich zu nutzen.</a></noscript>
        </div>
    </div>
</section>