<nav role="pagination" class="pagination">
  {{#if prev}}
    <a href="{{pageUrl prev}}" class="prev" data-pjax>New Posts</a>
  {{/if}}
  {{#if next}}
    <a href="{{pageUrl next}}" class="next" data-pjax>Older Posts</a>
  {{/if}}
</nav>
