
	 <style media="screen">
		.ad{
			font-size: .75em;
			max-width: 160px;
			margin: 2em auto 0;
			text-align: center;
			color: #A3A3A3;
		}
		.ad .head{
			background: #F4F4F4;
		}
		.ad .head > p{
			padding: .75em .5em;
			margin: 0;
		}
		.ad .head img{
			width: 100%;
		}
		.ad .foot{
			margin: .75em 0 0 0;
		}
	  </style>
		<div class="ad">
			<div class="head">
				<a href="http://wanbadesign.com" target="_blank" title="wanbadesign.com">
					<img src="/assets/img/wanba_alt_ad.png?v=f39ab20368" alt="wanba design">
				</a>
				<p class="info">
					Get premiun themes for ghost.org, just for $7.99
				</p>
			</div>
			<div class="foot">
				by <a href="href=" http:="" wanbadesign.com"="" target="_blank" title="wanbadesign.com" "="">wanbadesign.com</a>
			</div>
		</div>
