{{! You can use the theme-options.js file to customize your links }}
{{! Please refer to Alpha's documentation for more information. }}

<section class="social">
  <a class="facebook" href="https://www.facebook.com/patrick.miiller">
    <i class="fa fa-facebook"></i>
  </a>

  <a class="twitter" href="https://www.twitter.com/patrickemiiller">
    <i class="fa fa-twitter"></i>
  </a>

  <a class="linkedin" href="https://br.linkedin.com/in/patrickemuller">
    <i class="fa fa-linkedin"></i>
  </a>

  <a class="github" href="https://github.com/patrickemuller">
    <i class="fa fa-github"></i>
  </a>

  <a class="rss" href="{{@blog.url}}/rss/">
    <i class="fa fa-rss"></i>
  </a>
</section>
