<footer class="page-wrap">

    <div id="social-icons">
	    <a class="icon-gplus" href="https://googleplus.com/your_page">Google+</a>
	    <a class="icon-fb" href="https://facebook.com/your_page">Facebook</a>
	    <a class="icon-twitter" href="https://twitter.com/your_page">Twitter</a>
	    <a class="icon-pinterest" href="https://pinterest.com/your_page">Pinterest</a>
	    <a class="icon-youtube" href="https://youtube.com/your_page">YouTube</a>
	    <a class="icon-rss" href="{{@blog.url}}/rss/">RSS</a>
	</div>

    <div id="copyrights">
         <section class="copyright">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
         <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a></section>
    </div>
</footer>