<div class="widget" id="widget-gmap">
	<h3 class="widget-title">My Location</h3>
	<div class="widget-content">
		<div class="gmap-container clearfix">
			<div id="gmap">
			</div>
		</div>
	</div>
</div>