<div class="widget">
	<h3 class="widget-title">Get in touch</h3>
	<div class="widget-content">
		<ul class="vcard">
			<li>
				<span class="vcard-icon"><i class="fa fa-home"></i></span>
				<span class="vcard-text">677 Tan Son Street, Ho Chi Minh, VN</span>
			</li>
			<li>
				<span class="vcard-icon"><i class="fa fa-phone"></i></span>
				<span class="vcard-text">(+84) 909 53 6892</span>
			</li>
			<li>
				<span class="vcard-icon"><i class="fa fa-envelope"></i></span>
				<span class="vcard-text">info@yourdomain.com</span>
			</li>
		</ul>
		<p>
			Sign up to receive email updates and to hear what's going on with me!
		</p>
		<form id="mc-form" action="http://sunflowertheme.us5.list-manage.com/subscribe/post?u=7e0a4b0ce5fd160742dc568d3&amp;id=e957c365b2" method="post" novalidate="true">
			<div class="input-group">
				<input id="mc-email" type="email" name="EMAIL" placeholder="Email address" class="form-control" required >
		      	<span class="input-group-btn">
		        	<button class="btn btn-theme" type="submit">Subscribe</button>
		      	</span>
		    </div>
	    </form>
	</div>
</div>