<footer class="footer">
    <div class="wrapper">
         	<p class="copyright"> <span id="footer-text">&copy; 2015 Jeff Douglas. Proudly published with <a href="http://ghost.org">Ghost</a>.</span></p>

         	<!-- Add Social Icons -->


    </div>
</footer>
