{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}


<section class="main main-archive">


  <article class="home-article with-image" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
   <div class="home-inner">
     <div class="inner">
         {{>homehero}}
       </div>
     <a class="more-arrow" href="#content"><svg id="more-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="-123.5 142.8 842.2 556.4" enable-background="new -123.5 142.8 842.2 556.4"><path d="M162.7 564.1l420.9-420.9 135 135-420.9 421-135-135.1zm-286.2-286.2l135-135 420.9 420.9-135 135-420.9-420.9z"/></svg><span>Scroll Down<span></a>
   </div>
  </article>


    {{! The main content area on the homepage }}
    {{! The tag below includes the post loop - partials/loop.hbs }}


    {{> "loop"}}
    </section>
