<aside>
	<a href="mailto:jamie@tiltdigital.com" target="_blank" style="background: #4794DD;border-radius: 2px;width: 100%;display: inline-block;text-align: center;color: white;padding: .5em;margin-bottom: .75em;">Contact me</a>
	<div class="social">
		{{!> active-social }}
	</div>
	<div class="twitter">
		{{> twitter }}
	</div>
	{{!> active-ads }}
	<footer>

	</footer>
</aside>
