{{!< default}}

{{> nav}}

<section class="content">
    <div class="content-wrap">
        {{#post}}
        <article class="{{post_class}}">
            <header><h1>{{{title}}}</h1></header>
            <div class="post-content">{{content}}</div>
        </article>
        {{/post}}
    </div>
</section>
