{{#is "index"}}
<header id="hero" class="text-center">
  <div class="container wow fadeIn">
    <div class="clearfix">
      <div class="col-md-6">
        <h2 class="hero-call">
          I help <span>people</span> to get the most out of technologies.
        </h2>

          <a href="#" class="btn btn-fw btn-green btn-lg"> Go to FirePress site</a>

      </div>
      <div class="col-md-6 m-t-lg">
        <img src="../assets/images/graphics/urbook.png" class="img-responsive p-v-lg col-md-10">
      </div>
    </div>
  </div>
</header>
{{/is}}
