<main role="main" class="content">
  <section id="intro" class="text-left m-t-md">
    <div class="container animated fadeIn">

      {{! Bypassing this title
      <h1>The Ultimate Book</h1>}}

      <h2 class="h3">What you do today can improve all your tomorrows, by <a href="#about" class="btn-link">Ralph
        Marston</a></h2>

      <div class="clearfix">
        <div class="col-md-8 col-md-offset-2 text-left">

          <p>
            Curabitur rutrum orci scelerisque lacus ullamcorper ut egestas mi suscipit. In hac habitasse platea
            dictumst.
            Fusce tincidunt, diam id tincidunt faucibus, quam tellus laoreet justo, nec dignissim dui libero a dui.

            Donec facilisis tempor nunc, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
          </p>


        </div>
        <div class="clearfix wow fadeIn  m-t-lg">

          {{! Bypassing this title
          <div class="col-md-offset-4 col-md-4 m-t-lg">
            <a href="#" class="btn btn-stroke btn-success btn-block wow slideInLeft m-t-md " data-wow-duration="1s"> Read a sample </a>
          </div>}}

          <div class="col-md-offset-4 col-md-4 m-t-lg">
            <a href="#" class="btn btn-green btn-block"> $10 - Buy the eBook </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
  </section>

  <section id="reviews">
    <div class="container wow slideInUp">
      <div class="clearfix">
        <div class="text-left">
          {{! Bypassing this title
          <h2>All the thing she says</h2>}}

          <h3 class="h3">I blog</h3>

        </div>
        <div class="col-md-offset-1 col-md-7 m-t-lg">
          <div class="reviews-block">
            <blockquote>Wrapped in creative brilliance, The Book is spiritually
              profound, enlightening and life impacting. It has my
              highest recommendation. - <strong>Joe Doe</strong>
            </blockquote>
          </div>
        </div>
        <div class="col-md-offset-5 col-md-7 m-t-sm">
          <div class="reviews-block">
            <blockquote>Vivamus mollis feugiat placerat. Suscipit sed quam nibh, tristique sapien suscipit sed. Aenean
              nec sapien eget velit fringilla. - <strong>Maria Garcias</strong>
            </blockquote>
          </div>
        </div>

        <div class="col-md-offset-1 col-md-7 m-t-sm">
          <div class="reviews-block">
            <blockquote>Donec ultrices lectus blandit. Efficitur sapien fringilla quam pellentesque nec. Proin eget
              turpis ac lectus. - <strong>Mike Brown</strong>
            </blockquote>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section id="newsletter" class="wow flipInX" data-wow-duration="2s">
    <div class="container">
      <div class="clearfix">
        <div class="col-md-5 col-md-offset-1">
          <h2> Join our Newsletter! </h2>
          <h4> For a free Chapter, Get our newsletter. </h4></div>
        <div class="col-md-6">
          <form class="form m-t-lg">
            <div class="input-group">
              <input type="text" value="" class="form-control">
                    <span class="input-group-btn">
                      <button class="btn btn-green" type="button">Subscribe</button>
                    </span>
            </div>
          </form>
        </div>

      </div>
    </div>
  </section>
  <section id="about">
    <div class="container">
      <div class="clearfix">
        <div class="text-center">
          <h2>About the Author</h2>

          <h3><strong>Ralph Marston</strong> - Writer, Speaker and World Traveler</h3>

        </div>
        <div class="about">
          <div class="col-md-6 col-md-offset-1 text-justify m-t-md wow slideInLeft" data-wow-offset="300">
            <p class="m-t-md">
              Fusce tincidunt, diam id tincidunt faucibus, quam tellus laoreet justo, nec dignissim dui libero a dui.
              Curabitur rutrum orci scelerisque lacus ullamcorper ut egestas mi suscipit. In hac habitasse platea
              dictumst.
            </p>

            <p>
              Curabitur rutrum orci scelerisque lacus ullamcorper ut egestas mi suscipit. In hac habitasse platea
              dictumst.
              Fusce tincidunt, diam id tincidunt faucibus, quam tellus laoreet justo, nec dignissim dui libero a dui.

              Donec facilisis tempor nunc, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.

            </p>

            <div class="m-t-lg">
              <a class="btn btn-stroke btn-success btn-block" href="#"> Follow me on Twitter </a>
            </div>
          </div>
          <div class="col-md-5 wow slideInRight" data-wow-offset="300">
            <img class="img-responsive my-photo" src="../assets/images/photos/author.jpg">
          </div>
        </div>

      </div>
    </div>
  </section>
  <section id="cta-bottom">
    <div class="container">
      <div class="clearfix">
        <div class="col-md-offset-1 col-md-4 wow slideInRight" data-wow-duration="1s" data-wow-offset="300">
          <img class="img-responsive cta-book" src="../assets/images/graphics/urbook-vertical.png">

        </div>
        <div class="col-md-offset-1 col-md-4 wow slideInLeft" data-wow-duration="1s" data-wow-offset="300">
          <h3>Suscipit sed quam nibh, tristique sapien suscipit sed.</h3>

          <div class="row">
            <div class="col-md-12 m-t-lg">
              <a class="btn btn-green btn-block" href="#"> $15 - Buy the Hardcover</a>
            </div>
            <div class="col-md-12 m-t-lg">
              <a class="btn btn-green btn-block" href="#"> $10 - Buy the eBook </a>

            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</main>
