<footer class="site-footer group">
	<div class="offsite-links">
        <a class="twitter-link" href="http://www.twitter.com/{{! Add Twitter handle }}"><i class="icon-twitter"></i></a>
        <a class="facebook-link" href="https://www.facebook.com/{{! Add Facebook handle }}"><i class="icon-facebook"></i></a> 
        <a class="github-link" href="https://github.com/{{! Add GitHub handle }}"><i class="icon-github"></i></a>
        <a class="google-link" href="https://plus.google.com/{{! Add Google+ handle }}"><i class="icon-googleplus"></i></a>
        <a class="rss-link" href="{{ @blog.url }}/rss"><i class="icon-rss"></i></a>
	</div><!-- end offsite-links -->	
	<div class="site-info">
		&copy; <a href="/">{{@blog.title}}</a> all rights reserved.<br /> Powered by <a target="_blank" href="http://www.ghost.org">Ghost</a>. Scriptor theme by <a target="_blank" href="http://justgoodthemes.com/">JustGoodThemes</a>
	</div><!-- end site-info -->	
</footer><!-- end site-footer -->