<nav class="pagination" role="presentation">
                {{#if next}}
                        <a class="older-posts" href="{{pageUrl next}}">&larr; &Auml;ltere Posts</a>
                {{/if}}
        <span class="sheet-page-number">Seite {{page}} / {{pages}}</span>
                {{#if prev}}
                        <a class="newer-posts" href="{{pageUrl prev}}">Neuere Posts &rarr;</a>
                {{/if}}
</nav>
