<ul id="social-links">
	<a href="http://weibo.com/buaazp">Weibo</a>
	<a href="http://github.com/buaazp">Github</a>
	<a href="http://twitter.com/buaazp">Twitter</a>
	<a href="http://facebook.com/buaazp">Facebook</a>
	<a href="https://plus.google.com/+招牌疯子">Google+</a>
	<a href="{{@blog.url}}/rss">Subscribe</a>
</ul>
