<div class="summer-site-head-content {{#if @blog.cover}}with-bg-cover{{/if}}">
    <h1 class="summer-blog-title">
      {{!--
        <span class="summer-site-head-title-bg">
            {{@blog.title}}
        </span>
      --}}
    </h1>
    <h2 class="summer-blog-description" style="padding-bottom:0px">{{@blog.description}}</h2>
    <h3 style="padding-bottom: 8rem;color:white"><a href="http://www.appirio.com" style="color:white">Appirio</a> <i class="fa fa-heart"></i> <a href="http://www.topcoder.com" style="color:white">Topcoder</a> <i class="fa fa-heart"></i> <a href="http://developer.force.com/mvp_profile_jeff" style="color:white">Salesforce</a></h3>
</div>
