<ul class="social">
    <li class="twitter"><a href="https://twitter.com/reverentgeek" title="Follow me on Twitter"><i class="uk-icon-twitter"></i></a></li>
    <li class="github"><a href="https://github.com/reverentgeek" title="View my Github profile"><i class="uk-icon-github-alt"></i></a></li>
    <li class="google-plus"><a href="https://www.linkedin.com/in/davidneal" title="LinkedIn"><i class="uk-icon-linkedin"></i></a></li>
</ul>
