<nav>
  <a href="/">Home</a>
  <a data-dropdown="projects" aria-controls="projects" aria-expanded="false">Projects</a>
  <a href="https://github.com/aexmachina" class="github">Github</a>
  <a href="{{@blog.url}}/rss/" onclick="(function(){var z=document.createElement('script');z.src='https://www.subtome.com/load.js';document.body.appendChild(z);})(); return false;">Subscribe</a>
  <ul id="projects" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
    <li><a href="/ember-notify">ember-notify</a></li>
    <li><a href="/jquery-bonsai">jquery-bonsai</a></li>
    <li><a href="/ember-devtools">ember-devtools</a></li>
    <li><a href="/lugg">lugg</a></li>
  </ul>
</nav>
