<a class="icon-twitter" href="https://twitter.com/alex_ivantsov" target="_blank"></a>
<a class="icon-github" href="https://github.com/shpuntik" target="_blank"></a>
<a class="icon-linkedin" href="http://lnkd.in/brfxkcH" target="_blank"></a>