<style media="screen">
    .icons a {
        font-size: .75em;
        margin: 2em auto 0;
        text-align: center;
        color: #444444;
        font-size: 32px;
    }
</style>
<div class="icons">
    <section class="blog--social">
        <div class="icons">
            <a class="icons--icon icon" target="_blank" href="https://twitter.com/jhchill666" title="twitter" >
                <i class="fa fa fa-twitter-square"></i>
            </a>
            <a class="icons--icon icon" target="_blank" href="https://uk.linkedin.com/in/tiltdigital" title="linked" >
                <i class="fa fa-linkedin-square"></i>
            </a>
            <a class="icons--icon icon" href="https://github.com/jamiehill"  title="github" target="_blank">
                <i class="fa fa-github-square"></i>
            </a>
        </div>
    </section>
</div>
