{{#if @blog.cover}}
<section id="hero" class="color-bg image-bg light-font" style="background-image: url({{@blog.cover}});">
{{else}}
<section id="hero" class="gradient-bg light-font">
{{/if}}
	<div class="hero-content">
		<div class="container">
			<h1 class="hero-title">Welcome to Type!</h1>
			<p class="intro">Scroll down to explore Type's features or <a href="http://bit.ly/ghost-type">purchase Type</a></p>
		</div>
	</div>
</section>