<div class="social-icons">
  <a href="http://twitter.com/northemes" title="Northemes on twitter">&#x6b;</a>
  <a href="http://facebook.com" title="Facebook">&#x6a;</a>
  <a href="http://stackoverflow.com" title="stackoverflow">&#x73;</a>
  <a href="{{@blog.url}}/rss/" title="Northemes on twitter">&#x76;</a>
</div>
