<footer class="summer-site-footer {{#if @blog.cover}}with-bg-cover{{/if}}">
    <div class="copyright">
         <section>All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
         <section>Proudly published with <a class="icon-ghost" href="https://ghost.org">Ghost</a></section>
    </div>
    <div class="social-icons">
        {{! add your urls ; more icons : http://fontawesome.io/icons/ }}
        {{! feed }}
        <a href="{{@blog.url}}/rss/">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-rss fa-stack-1x"></i>
            </span>
        </a>
        {{! github }}
        <a href="http://www.github.com/jeffdonthemic">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-github fa-stack-1x"></i>
            </span>
        </a>
        {{! twitter }}
        <a href="http://www.twitter.com/jeffdonthemic">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
        </a>
        {{! google plus }}
        <a href="https://plus.google.com/u/1/109315949634428014996/posts">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-google-plus fa-stack-1x"></i>
            </span>
        </a>
        {{! facebook }}
        <a href="https://www.facebook.com/jeffdonthemic">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-facebook fa-stack-1x"></i>
            </span>
        </a>
        {{! youtube }}
        <a href="https://www.youtube.com/user/jeffdonthemic/videos">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-youtube fa-stack-1x"></i>
            </span>
        </a>
        {{! linkedin }}
        <a href="https://www.linkedin.com/in/jeffdouglas">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-linkedin fa-stack-1x"></i>
            </span>
        </a>
        {{! flickr }}
        <a href="https://www.flickr.com/jeffdonthemic">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-flickr fa-stack-1x"></i>
            </span>
        </a>
        {{! slideshare }}
        <a href="http://www.slideshare.net/jeffdonthemic">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-slideshare fa-stack-1x"></i>
            </span>
        </a>
    </div>
    {{! more icons : http://fontawesome.io/icons/ }}
    <div class="cf"></div>
</footer>
