{{! This is the navigation menu, add your static pages and links here. }}

<nav class="navigation">
    <ul>
        <li>
            <a href="#">about</a>
        </li>
        <li>
            <a href="#">photography</a>
        </li>
        <li>
            <a href="#">food</a>
        </li>
        <li>
            <a href="#">travel</a>
        </li>
        <li>
            <a href="#">contact</a>
        </li>
    </ul>
</nav>