<div class="widget">
	<div class="widget-content twitter">
		<a class="twitter-timeline" href="https://twitter.com/kyte_22" data-widget-id="551463459020234752"
		width="500"
  height="700">Tweets by @kyte_22</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
</div>
